<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aug.laundry.dao.member.MemberMapper">
    <select id="selectOne" resultType="aug.laundry.dto.MemberDto">
        select * from member where member_id = #{memberId}
    </select>


    <insert id="giveCoupon">
        INSERT INTO COUPON_LIST VALUES
        (SEQ_COUPON_LIST_ID.NEXTVAL, #{memberId}, #{couponId}, SYSDATE, 1, null,ADD_MONTHS(SYSDATE, 1))
    </insert>

    <update id="updateAddress">
        UPDATE MEMBER
        SET MEMBER_ZIPCODE = #{memberZipcode}, MEMBER_ADDRESS=#{memberAddress}, MEMBER_ADDRESS_DETAILS=#{memberAddressDetails}
        WHERE MEMBER_ID = #{memberId}
    </update>





</mapper>